// main: ../style.less
/* Contacts */

.left {
  align-items: center;
  text-align: center;
  font-weight: 300;
  letter-spacing: .2px;
}
.grid__items span {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.conacts__logo {
  width: 40%;
  margin-bottom: 16px;
}
.phone__mail, .phone__mail a{
  margin: 10px 5px 0;
  font-weight: 400;
}
.map__scr {
  cursor: pointer;
  background: url('../img/map_prev.jpg') center no-repeat;
  background-size: cover;
}
.open__map-text {
  display: none;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  color: @bYellow;
}


